<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PythonQuiz</title>

</head>
<body>


     <div class="app">
            <h1>Python Quiz</h1>
            <div class="quiz">
                <h2 id="question">Question goes here</h2>
                <div id="answer_button">

                    <button class="btn"> Answer 1</button>
                    <button class="btn"> Answer 2</button>
                    <button class="btn"> Answer 3</button>
                    <button class="btn"> Answer 4</button>
                </div>
                <button id="next-btn">Next</button>
            </div>
        </div>

     <div >
         <a href="{% url 'fordeveloper_page' %}"><button style="width:150px;height:40px;margin-top:40px;margin-left:1005px;border-radius: 10px; background: none;
            font-size: 18px;color: #033256; font-weight: 600;" type="button" class=" btn-outline-info">
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
            </svg>
             Back to Skill
         </button></a>
     </div>




<script>
            const questions = [
            {
                questions:"What is the correct file extension for Python files?",
                answers:[
                    { text : ".py" , correct: true},
                    { text : "py" , correct: false},
                    { text : ".pyth" , correct: false},
                    { text : "py" , correct: false},
                ]
            },
            {
                questions:"What is a correct syntax to output 'Hello World' in Python?",
                answers:[
                    { text : "echo 'Hello World' " , correct: false},
                    { text : "print('Hello World')" , correct: true},
                    { text : "echo('Hello World')", correct: false},
                    { text : "echo 'Hello World' " , correct: false},
                ]

            },
            {
                questions:"Which one is NOT a legal variable name?",
                answers:[
                    { text : "my_var" , correct: true},
                    { text : "MyVar" , correct: false},
                    { text : "-myvar" , correct: false},
                    { text : "My_Var" , correct: false},
                ]

            },
            {
                questions:"How do you insert COMMENTS in Python code?",
                answers:[
                    { text : "/This is a Command"  , correct: false},
                    { text : "*This is a Command"  , correct: false},
                    { text : "#This is a Command"  , correct: true},
                    { text : "//This is a Command"  , correct: false},
                ]

            },
            {
                questions:"How do you create a variable with the floating number 2.8?",
                answers:[
                    { text : "Both the other Answer are correct"  , correct: false},
                    { text : "x = float(2.8)"  , correct: true},
                    { text : "x = 2.8"  , correct: false},
                    { text : "x = int(2.8)"  , correct: false},
                ]

            },
            {
                questions:"What is the correct syntax to output the type of a variable or object in Python?",
                answers:[
                    { text : "print(typeof(x))"  , correct: false},
                    { text : "print(type(ofx))"  , correct: false},
                    { text : "print(type(x))"  , correct: true},
                    { text : "print(typeOf(X))"  , correct: false},
                ]

            },
            {
                questions:"What is the correct way to create a function in Python?",
                answers:[
                    { text : "Cerate myfunction()"  , correct: false},
                    { text : "def myfuction()"  , correct: true},
                    { text : "function Myfunction()"  , correct: false},
                    { text : "def ()"  , correct: false},
                ]

            },
            {
                questions:"What is a correct syntax to return the first character in a string?",
                answers:[
                    { text : "x = sub('Hello',0,1)"  , correct: true},
                    { text : "x = 'Hello'[0]"  , correct: false},
                    { text : "x = 'Hello'.sub(0,1)"  , correct: false},
                    { text : "x = 'Hello'(0)"  , correct: false},
                ]

            },
            {
                questions:"Which method can be used to remove any whitespace from both the beginning and the end of a string?",
                answers:[
                    { text : "strip()"  , correct: true},
                    { text : "trim()"  , correct: false},
                    { text : "ptrim()"  , correct: false},
                    { text : "len()"  , correct: false},
                ]

            },
            {
                questions:"Which method can be used to return a string in upper case letters?",
                answers:[
                    { text : "uppercase()"  , correct: true},
                    { text : "touppercase()"  , correct: false},
                    { text : "isupper()"  , correct: false},
                    { text : "upper()"  , correct: false},
                ]

            },
            {
                questions:"Which method can be used to replace parts of a string?",
                answers:[
                    { text : "switch()"  , correct: false},
                    { text : "replacestring()"  , correct: false},
                    { text : "replace()"  , correct: true},
                    { text : "repl()"  , correct: false},
                ]

            },
            {
                questions:"Which operator is used to multiply numbers?",
                answers:[
                    { text : "%("  , correct: false},
                    { text : "*"  , correct: true},
                    { text : "X"  , correct: false},
                    { text : "#"  , correct: false},
                ]

            },
            {
                questions:"Which operator can be used to compare two values?",
                answers:[
                    { text : "=="  , correct: true},
                    { text : "><"  , correct: false},
                    { text : "<>"  , correct: false},
                    { text : "="  , correct: false},
                ]

            },
            {
                questions:"Which of these collections defines a LIST?",
                answers:[
                    { text : "{'name:apple','color:green'}"  , correct: false},
                    { text : "{'apple','green'}"  , correct: false},
                    { text : "['apple','green']"  , correct: true},
                    { text : "('apple','green')"  , correct: false},
                ]

            },
            {
                questions:"Which of these collections defines a Dictionary?",
                answers:[
                    { text :  "{'apple','green'}" , correct: false},
                    { text :"{'name:apple','color:green'}" , correct: true},
                    { text :  "['apple','green']"  , correct: false},
                    { text : "('apple','green')"   , correct: false},
                ]

            },
            {
                questions:"Which collection is ordered, changeable, and allows duplicate members?",
                answers:[
                    { text : "TUPLE"  , correct: false},
                    { text : "DICTIONARY"  , correct: false},
                    { text : "LIST"  , correct: true},
                    { text : "SET"  , correct: false},
                ]

            },
            {
                questions:"How do you start writing an if statement in Python?",
                answers:[
                    { text : "if(x>y):"  , correct: false},
                    { text : "if x > y:"  , correct: true},
                    { text : "if x>y"  , correct: false},
                    { text : "if x > y then:"  , correct: false},
                ]

            },
            {
                questions:"How do you start writing a while loop in Python?",
                answers:[
                    { text : "x>y while:"  , correct: false},
                    { text : "while x>y"  , correct: false},
                    { text : "while x > y:"  , correct: true},
                    { text : "while x > y then:"  , correct: false},
                ]

            },
            {
                questions:"Which statement is used to stop a loop?",
                answers:[
                    { text : "return"  , correct: false},
                    { text : "break"  , correct: true},
                    { text : "exist"  , correct: false},
                    { text : "stop"  , correct: false},
                ]

            },
            {
                questions:"Which of these is not a core data type?",
                answers:[
                    { text : "List"  , correct: false},
                    { text : "Class"  , correct: true},
                    { text : "Dict"  , correct: false},
                    { text : "Tuple"  , correct: false},
                ]

            },
            {
                questions:"Given a function that does not return any value, what value is shown when executed at the shell?",
                answers:[
                    { text : "int"  , correct: false},
                    { text : "bool"  , correct: false},
                    { text : "void"  , correct: false},
                    { text : "None"  , correct: true },
                ]

            },
            {
                questions:"Which module in Python supports regular expressions?",
                answers:[
                    { text : "regex"  , correct: false},
                    { text : "pyregex"  , correct: false},
                    { text : "re"  , correct: true },
                    { text : "None of the above"  , correct: false},
                ]

            },
            {
                questions:"________ is a simple but incomplete version of a function.",
                answers:[
                    { text : "Function"  , correct: false},
                    { text : "A function developed using bottom-up approach"  , correct: false},
                    { text : "A function developed using top-down approach"  , correct: false},
                    { text : "Stub"  , correct: true },
                ]

            },
            {
                questions:"What is called when a function is defined inside a class?",
                answers:[
                    { text : "Method"  , correct: true },
                    { text : "Module"  , correct: false},
                    { text : "Class"  , correct: false},
                    { text : "Another Function"  , correct: false},
                ]

            },
            {
                questions:"Which of the following is the use of id() function in python?",
                answers:[
                    { text : "Id returns the identity of the object"  , correct: true },
                    { text : "Every object doesn’t have a unique id"  , correct: false},
                    { text : "All of the mentioned"  , correct: false},
                    { text : "None of the mentioned"  , correct: false},
                ]

            }
        ];

        const questionElement = document.getElementById("question");
        const answerButton = document.getElementById("answer_button");
        const nextbutton = document.getElementById("next-btn");

        let currectquestionindex = 0;
        let score = 0;

        function startQuiz(){
            currectquestionindex = 0;
            score = 0;
            nextbutton.innerHTML = "Next";
            showQuestion();

        }

        function showQuestion(){
            resetState();
            let currectquestion = questions[currectquestionindex];
            let questionNo = currectquestionindex + 1;
            questionElement.innerHTML = questionNo + ". " + currectquestion.questions;


            currectquestion.answers.forEach(answers =>{
                const button = document.createElement("button")
                button.innerHTML=answers.text;
                button.classList.add("btn");
                answerButton.appendChild(button)
                if(answers.correct){
                    button.dataset.correct = answers.correct;
                }
                button.addEventListener("click",selectAnswer)
            });
        }

        function resetState(){
            nextbutton.style.display = "none";
            while(answerButton.firstChild){
                answerButton.removeChild(answerButton.firstChild);
            }
        }

        function selectAnswer(e){
            const selectbtn = e.target;
            const iscorrect = selectbtn.dataset.correct == "true";
            if(iscorrect){
                selectbtn.classList.add("correct");
                score++;
            }else{
                selectbtn.classList.add("incorrect");
            }
            Array.from(answerButton.children).forEach(button => {
                if(button.dataset.correct == "true"){
                    button.classList.add("correct");
                }
                button.disabled = true;
            });
            nextbutton.style.display = "block";
        }
        function showscore(){
            resetState();
            questionElement.innerHTML = `you score ${score} out of ${questions.length}!`;
            nextbutton.innerHTML  = "Play Again";
            nextbutton.style.display = "block"
        }

        function handlenextbtn(){
            currectquestionindex++;
            if(currectquestionindex < questions.length){
                showQuestion();
            }else{
                showscore();

            }
        }

        nextbutton.addEventListener("click",()=>{
            if(currectquestionindex < questions.length){
                handlenextbtn();

            }else{
                startQuiz();
            }
        })

        startQuiz();
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
  {% for i in messages %}
    {% if i.tags == 'warning' %}
      <script>
        swal('{{i}}','','warning')
      </script>
    {% elif i.tags == 'error' %}
      <script>
        swal('{{i}}','','error')
      </script>
    {% elif i.tags == 'info' %}
      <script>
        swal('{{i}}','','info')
      </script>
    {% else %}
      <script>
        swal('{{i}}','','success')
      </script>
    {% endif %}
  {% endfor %}
{% endif %}

</body>
</html>
<style>
* {
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;

}
body{
    background: url({% static 'load/img/quiz6.jpg' %});
    background-size: cover;
    background-position: center;
}
.app{
    background: none;
    width: 90%;
    max-width: 1000px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;

}
.app h1{
    font-size: 50px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;

}
.quiz h2{
    font-size: 30px;
    color: #001e4d;
    font-weight: 600px;
}
.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;

}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}
</style>